<meta
  name="viewport"
  content="width=device-width,minimum-scale=1,initial-scale=1"
/>
<meta
  http-equiv="content-type"
  content="text/html; charset=utf-8"
/>
<link
  rel="alternate"
  href="{{ '/feed.xml' | relative_url }}"
  title="Surager's blog"
  type="application/rss+xml"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="{{ '/static/assets/img/landing/avatar.jpg' | relative_url }}"
/>
<link
  rel="shortcut icon"
  href="{{ '/static/assets/img/landing/avatar.jpg' | relative_url }}"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/combine/gh/poole/lanyon@v1.1.0/public/css/poole.min.css,gh/poole/lanyon@v1.1.0/public/css/lanyon.min.css,gh/poole/lanyon@v1.1.0/public/css/syntax.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="{{ '/static/assets/script/admonitions.css' | relative_url }}"
/>
<link
  rel="stylesheet"
  href="{{ '/static/assets/style/site.css' | relative_url }}"
/>
<script
  src="https://zz.bdstatic.com/linksubmit/push.js"
  async="async"
></script>
