<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/combine/npm/reveal.js@4.1.0/dist/reveal.min.css,npm/reveal.js@4.1.0/dist/theme/serif.min.css"
/>
<link
  rel="stylesheet"
  href="{{ '/static/assets/style/home.css' | relative_url }}"
/>
<script
  async="async"
  src="https://cdn.jsdelivr.net/combine/npm/reveal.js@4.1.0/dist/reveal.min.js,npm/reveal.js@4.1.0/plugin/markdown/markdown.min.js,npm/reveal.js@4.1.0/plugin/math/math.min.js,npm/reveal.js@4.1.0/plugin/highlight/highlight.min.js"
></script>
<script
  src="{{ '/static/assets/script/reveal-init.js' | relative_url }}"
  defer="defer"
></script>
