@mixin border-icon($name) {
  content: " ";
  background-image: asset_url($name + ".svg");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  margin-left: -54px;
  margin-top: 10px;
  z-index: 100;
}

$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

.admonition {
  --code: var(--link);
  font-family: $sans-serif-font-stack;
  border-left: 4px var(--separator) solid;
  padding: 10px 40px;
  margin: 1.5em 0;
  display: block;
  clear: both;
  overflow: visible;
  font-size: smaller;

  a {
    text-decoration: underline;
  }

  p {
    margin: 0.5em 0;
  }

  dl {
    padding: 0.5em 0 !important;
    margin-bottom: 1em !important;
  }

  pre code {
    font-size: small;
    line-height: 1;
  }

  th,
  td {
    padding: 0.5em !important;
  }

  blockquote {
    margin-left: 0 !important;
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
    border-left-color: var(--separator) !important;
  }

  ins {
    background: transparent !important;
  }

  &.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;

    &:before {
      @include border-icon("info");
    }
  }

  &.warning {
    color: #856404;
    background-color: hsl(46, 100%, 90%);
    border-color: #ffeeba;

    &:before {
      @include border-icon("warning");
    }
  }

  &.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;

    &:before {
      @include border-icon("error");
    }
  }

  &.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;

    &:before {
      @include border-icon("success");
    }
  }
}
